body {
  margin: 0;
  padding: 0;
}

.banner {
  margin: 2rem 7rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: white;
  height: 10%;
}

.resident_portal {
  height: 90%;
  /* background-color: #aaa; */
  background-image: radial-gradient(#f6e8e8, #bbb);
  text-align: center;
  padding: 8px 0;
  color: #333;
}

.resident_portal p:first-child {
  font-size: 2rem;
  position: relative;
  font-weight: lighter;
}

.resident_portal p:first-child::after {
  content: "";
  position: absolute;
  z-index: 9;
  left: 37%;
  right: 37%;
  height: 2px;
  background: #ec0000;
  top: 3rem;
}

.credit-card-pay img {
  width: 3rem;
}

form {
  width: 25%;
  margin: auto;
  padding: 0.5rem 0;
  border: 1px solid red;
  background: white;
  border-radius: 0.5rem;
}

form * {
  padding: 8px;
  font-size: 0.8rem;
}

legend {
  font-size: 1rem;
}

input[type="email"] {
  width: 60%;
}

input[type="password"] {
  width: 60%;
}

label {
  padding-left: 0;
}

.login-button {
  background-color: #062f6b;
  border-style: solid;
  border-radius: 0.5rem;
  color: white;
  width: 6rem;
}

.footer {
  text-align: center;
  padding-top: 3rem;
  margin-bottom: 8rem;
  padding-bottom: 8rem;
  background-image: radial-gradient(#f6e8e8, #bbb);
}

.powered-by {
  background-color: white;
}

.powered-by a {
  display: flex;
  text-decoration: none;
}

.footer div:not(:last-child) {
  display: inline-block;
}

.footer div:not(:first-child) {
  border-left: 1px solid black;
  padding: 0 0.3rem;
}

.footer div:last-child {
  border: 1px solid red;
  width: 16%;

  margin: auto;
  margin-top: auto;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  form {
    width: 100%;
  }
}
